<!DOCTYPE HTML>
<html>
	<head>
	<style type="text/css">
		a {color: #ffffff;}
		a:hover {color: #fff700;}
		a:visited {color: #696969}
		body {font-size: 30px}
		body {font-family: Monospace;}
		body {color: #ffffff;}
		body {background-color: #14131c;}
	</style>
	</head>
	
	<body>
	
	<h1 align="center">GAME LIBRARY</h1>
	<hr width="100%">
	<br>
	<br>
	
	<a href="/libraryofgames/pacman">  <img src="{{url_for('static', filename='photos/pacmandobiblioteki.png')}}" align="center" width="700" height="500"></a>
  <p align="center"><a href="/libraryofgames/pacman">
    </a></p>
    <br>
	
	<a href="/libraryofgames/tetris"><img src="{{url_for('static', filename='photos/tetrisdobiblioteki.jpg')}}" align="center" width="700" height="500"></a>
  <p align="center"><a href="/libraryofgames/tetris">
    </a></p>
	<br>
	
	<a href="/libraryofgames/snake"><img src="{{url_for('static', filename='photos/snakedobiblioteki.jpg')}}" align="center" width="700" height="500"></a>
	<p align="center"><a href="/libraryofgames/snake"></a></p>

<div style=" bottom: 0px; right: 0px; background: #000000; color: #FFFFFF; width: 100%;">
			<table align="center">
				<tr>
					<td align="left"><img src="{{url_for('static', filename='photos/LOGO.png')}}"></td>
          <td></td>
          <td></td>
          <td></td>
					<td align="center"><a href="/">MAIN PAGE</a></td>
          <td></td>
          <td></td>
          <td></td>
					<td align="center"><a href="/libraryofgames">GAME LIBRARY</a></td>
          <td></td>
          <td></td>
          <td></td>
					<td align="right"><a href="/sources">SOURCES</a></td>
				</tr>
			</table>
		</div>
    
	</body>
</html>