<!DOCTYPE HTML>
<html>
	<head>
	<style type="text/css">
		a {color: #ffffff;}
		a:hover {color: #fff700;}
		a:visited {color: #696969}
		body {font-size: 30px}
		body {font-family: Monospace;}
		body {color: #ffffff;}
		body {background-color: #14131c;}
		body::-webkit-scrollbar{
			width: 4px;
		}

		body::-webkit-scrollbar-track{
			background:#14131c;
		}

		body::-webkit-scrollbar-thumb{
			background:#4caf50;
		}
	</style>

	<link rel="stylesheet" href="{{url_for('static', filename='styles/navbar.css')}}">
	</head>
	
	<body>

		<nav>
			<ul class="mainMenu">
				<li class="l1"><br><img src="{{url_for('static', filename='photos/LOGO.png')}}" width="50" height="50"/></li>
				<li class="l2"><a href="/#about" align="center"><br><b>About</b></a></li>
				<li class="l3"><a href="/" align="center"><br><b>ARCADE HISTORY</b></a></li>
				<li class="l4"><a href="/libraryofgames" align="center"><br><b>Game Library</b></a></li>
	
			</ul>
		</nav>
		<br>
		<br>
		<br>
		<br>
	
	<h1 align="center">GAME LIBRARY</h1>
	<hr width="100%">
	<br>
	<br>
	 
  	<p align="center"><a href="/libraryofgames/pacman"><img src="{{url_for('static', filename='photos/pacmandobiblioteki.png')}}" align="center" width="700" height="500"></p>
    <br>
	
  <p align="center"><a href="/libraryofgames/tetris"><img src="{{url_for('static', filename='photos/tetrisdobiblioteki.jpg')}}" align="center" width="700" height="500"></a></p>
	<br>

	<p align="center"><a href="/libraryofgames/snake"><img src="{{url_for('static', filename='photos/snakedobiblioteki.jpg')}}" align="center" width="700" height="500"></a></p>

<div style=" bottom: 0px; right: 0px; background: #000000; color: #FFFFFF; width: 100%;">
			<table align="center">
				<tr>
					<td align="left"><img src="{{url_for('static', filename='photos/LOGO.png')}}" width="50" height="50"></td>
          <td></td>
          <td></td>
          <td></td>
					<td align="center"><a href="/">MAIN PAGE</a></td>
          <td></td>
          <td></td>
          <td></td>
					<td align="center"><a href="/libraryofgames">GAME LIBRARY</a></td>
          <td></td>
          <td></td>
          <td></td>
					<td align="right"><a href="/sources">SOURCES</a></td>
				</tr>
			</table>
		</div>
    
	</body>
</html>