<!DOCTYPE HTML>
<html>
	<head>
	<style type="text/css">
		a {color: #ffffff;}
		a:hover {color: #fff700;}
		a:visited {color: #696969}
		body {font-size: 40px}
		body {font-family: Monospace;}
		body {color: #ffffff;}
		body {background-color: #14131c;}
	</style>
	</head>
	
	<body>
	
	<img src="{{url_for('static', filename='photos/LOGO.png')}}" style="float:left;" width="500" height="500"/>
	<p align="center" style="font-size: 80px">ARCADE GAMES HISTORY</p>
	<br clear="all">
	<br>
	<br>
	
	<img src="{{url_for('static', filename='photos/arcade.png')}}" style="float:right;" width="500" height="500"/>
	<p align="center"><br><br>Website includes:<br>- PAC MAN<br>- TETRIS<br>- SNAKE</p>
	<br clear="all">
	<br>
	<br>
	
	<img src="{{url_for('static', filename='photos/gameboy.png')}}" style="float:left;" width="500" height="500"/>
	<p align="center"><br>AUTHORS:<br>- Wojciech Ryba<br>- Adrian Tarach<br>- Dominika Suświłło<br>- Wojciech Wójtowicz</p>
	<br clear="all">
	<br>
	<br>
	
	<table align="center" border="3px">
		<tr>
			<td><p style="font-size: 50px"><a href="/libraryofgames"><b>TRY OUT!</b></a>
		</tr>
	</table>
	
		<br><br>
		
		<div style=" bottom: 0px; right: 0px; background: #000000; color: #FFFFFF; width: 100%;">
			<table align="center">
				<tr>
					<td align="left"><img src="{{url_for('static', filename='photos/LOGO.png')}}"></td>
          <td></td>
          <td></td>
          <td></td>
					<td align="center"><a href="/">MAIN PAGE</a></td>
          <td></td>
          <td></td>
          <td></td>
					<td align="center"><a href="/libraryofgames">GAME LIBRARY</a></td>
          <td></td>
          <td></td>
          <td></td>
					<td align="right"><a href="/sources">SOURCES</a></td>
				</tr>
			</table>
		</div>
	</body>
</html>
