<!DOCTYPE HTML>
<html>
	<head>
	<style type="text/css">
		a {color: #ffffff;}
		a:hover {color: #fff700;}
		a:visited {color: #696969}
		body {font-size: 30px}
		body {font-family: Monospace;}
		body {color: #ffffff;}
		body {background-color: #14131c;}
	</style>
	</head>

	<body>
	
		<h1 align="center">Pac-Man</h1>
		<hr width="100%">
		
		<img src="{{url_for('static', filename='photos/zdjeciepacman.jpg')}}" style="float:left;" width="700" height="700"/>
		<p align="center"><b>THE MOST IMPORTANT INFORMATION:</b></p>
		<p align="center">Release date : June 1980 <br>Creator : Namco Limited<br>
		Completion time : 1 year 5 months<br>Objective : eat all off the dots without getting killed<br>live number : 3<br><br><br></p>
    <a href="/">
	
		<table border="3px" align="center">
			<tr>
				<td align="center" colspan="1"><b>PLAY</b></td>
			</tr>
		</table>
		
			<style type="text/css">
				a {font-size:150px;}
			</style>
	</a>
		
		<br clear="all">
		<p align="center">STORY: Pac-Man is a 1980 maze action video game developed and released by Namco Limited, a Japanese
		multinational video game and entertainment company, for arcades. The game director, Toru Iwatani, wanted to create a game
		that could appeal to women as well as men, because most video games at the time were themed around sports and war. Development
		of the game, originally named Puck Man, started in early 1979, with a 9-man team, alongside Iwatani. To make the game appeal to
		a “non-violent” audience, the character designs were made to be cute and the game utilized a RGB color display, which made it more
		colorful and more appealing to players. It is rumoured that Iwatani took inspiration from other games and children’s stories. The
		game took a year and 5 months to complete, which was the longest ever time for a video game to be completed at that point. The
		game was released nationwide in June of 1980. To bring the game to the international market, the name had to be changed to Pac-Man,
		because executives at Namco were worried that vandals would change the “P” in Puck Man to an “F”.</p>
		
		<p align="center">GAMEPLAY: Pac-Man is an action maze chase video game. The player controls the eponymous character through
		an enclosed maze. The objective of the game is to eat all of the dots placed in the maze while avoiding four colored ghosts
		— Blinky (red), Pinky (pink), Inky (cyan), and Clyde (orange) — that pursue him. When Pac-Man eats all of the dots, the player
		advances to the next level. If Pac-Man makes contact with a ghost, he will lose a life. The game ends when all lives are lost.
		Each of the four ghosts have their own unique, distinct A.I.: Blinky gives direct chase to Pac-Man, Pinky and Inky try to position
		themselves in front of Pac-Man, usually by cornering him, and Clyde will switch between chasing Pac-Man and fleeing from him.
		Placed at the four corners of the maze are large flashing “power pellets”. Eating these will cause the ghosts to turn blue with a
		dizzied
		expression and reverse direction. Pac-Man can eat blue ghosts for bonus points. When eaten, their eyes make their way back to the
		center box in the maze, where the ghosts “regenerate” and resume their normal activity. Eating multiple blue ghosts in succession 
		increases their point value. After a certain amount of time, blue-colored ghosts will flash white before turning back into their
		normal, lethal form. Eating a certain number of dots in a level will cause a bonus item – usually in the form of a fruit – to
		appear underneath the center box, which can be eaten for bonus points.
		The game increases in difficulty as the player progresses. The ghosts become faster and the energizers' effect decreases in 
		duration to
		the point where the ghosts will no longer turn blue and edible. To the sides of the maze are two “warp tunnels”, which allow 
		Pac-Man and
		the ghosts to travel to the opposite side of the screen. Ghosts become slower when entering and exiting these tunnels. Levels
		are indicated by the fruit icon at the bottom of the screen. In-between levels are short cutscenes featuring Pac-Man and Blinky 
		in humorous, comical situations. The game becomes unplayable at the 256th level due to an integer overflow that affects the game
		's memory.</p>
		
		<p align="center">TRIVIA:<br>-Namco Limited has created many iconic games and started many iconic game series, like, the Galaga, Xevious and Tekken series and of course Pac-Man.
<br>-The game was initially called Pakkuman, based on the Japanese onomatopoeia term “paku paku taberu”, referencing the mouth movement of opening and closing in succession.
<br>-The rumour that Pac-Man being designed after the shape of a pizza with a missing slice is only partially true. In a 1986 interview, Iwatani said that the Pac-Man character was also based on him rounding out and simplifying the Japanese character “kuchi”, meaning “mouth”.
<br>-As an ode to the iconic game, on the game’s 30th anniversary, a playable version of the game was released as a Google Doodle in 2010.

<div style=" bottom: 0px; right: 0px; background: #000000; color: #FFFFFF; width: 100%;">
			<table align="center">
				<tr>
					<td align="left"><img src="{{url_for('static', filename='photos/LOGO.png')}}"></td>
          <td></td>
          <td></td>
          <td></td>
					<td align="center"><a href="/">MAIN PAGE</a></td>
          <td></td>
          <td></td>
          <td></td>
					<td align="center"><a href="/libraryofgames">GAME LIBRARY</a></td>
          <td></td>
          <td></td>
          <td></td>
					<td align="right"><a href="/sources">SOURCES</a></td>
				</tr>
			</table>
		</div>

	</body>
</html>
