<!DOCTYPE HTML>
<html>
	<head>
	<style type="text/css">
		a {color: #ffffff;}
		a:hover {color: #fff700;}
		a:visited {color: #696969}
		body {font-size: 14px}
		body {font-family: Monospace;}
		body {color: #ffffff;}
		body {background-color: #14131c;}
		body::-webkit-scrollbar{
			width: 4px;
		}

		body::-webkit-scrollbar-track{
			background:#14131c;
		}

		body::-webkit-scrollbar-thumb{
			background:#4caf50;
		}
	</style>
	<link rel="stylesheet" href="{{url_for('static', filename='styles/navbar.css')}}">
	</head>

	<body>

		<nav>
			<ul class="mainMenu">
				<li class="l1"><br><img src="{{url_for('static', filename='photos/LOGO.png')}}" width="50" height="50"/></li>
				<li class="l2"><a href="/#about" align="center"><br><b>About</b></a></li>
				<li class="l3"><a href="/" align="center"><br><b>ARCADE HISTORY</b></a></li>
				<li class="l4"><a href="/libraryofgames" align="center"><br><b>Game Library</b></a></li>
	
			</ul>
		</nav>
		<br>
		<br>
		<br>
		<br>
	
		<h1 align="center"Snake</h1>
		<hr width="100%">
		
		<img src="{{url_for('static', filename='photos/zdjeciesnake.png')}}" style="float:left;" width="700" height="700"/>
		<p align="center"><b>THE MOST IMPORTANT INFORMATION:</b></p>
		
		<p>Release date : 1996<br>Creator : Gremlin Interactive<br>Objective : player attempts to eat items by running into them with the head of the snake. Each item eaten makes the snake longer, so avoiding collision with the snake becomes progressively more difficult<br>
		live number : 1<br><br><br></p>
		
		<a href="/libraryofgames/snake/game">
		
		<table border="3px" align="center">
			<tr>
				<td align="center" colspan="1"><b>PLAY</b></td>
			</tr>
		</table>

		</a>
		
		<br clear="all">
		<p align="center">STORY: Snake’s story begins long before it found a mass audience with Nokia. It was first created as a concept in 1976 under the name of Blockage, and was a monochromatic two-player arcade game developed by Gremlin Interactive, a video games company. Similar to what would soon become Snake, it involved pressing arrow keys to move each character, wherein players would leave a solid trail behind them wherever they turned. To win, the player had to last the longest without hitting anything else. This game inspired numerous iterations, such as the arcade game Bigfoot Bonkers that year; more similar concepts in 1977 by the then-leading video games company Atari – a computer-based version called Worm, programmed in 1978; and a single-player arcade game named Nibbler in 1982.
In 1997 came the landmark addition of Snake – first published by Finnish company Nokia for monochrome 6110 phones, and programmed by the company’s Taneli Armanto.

		
		<p align="center">GAMEPLAY: The player controls a dot, square, or object on a bordered plane. As it moves forward, it leaves a trail behind, resembling a moving snake. In some games, the end of the trail is in a fixed position, so the snake continually gets longer as it moves. In another common scheme, the snake has a specific length, so there is a moving tail a fixed number of units away from the head. The player loses when the snake runs into the screen border, other obstacle, or itself.
Gameplay comes in two major variants:
1. In the first, which is most often a two-player game, there are multiple snakes on the playfield. Each player attempts to block the other so the opponent runs into an existing trail and loses. Surround for the Atari VCS is an example of this type. The Light Cycles segment of the Tron arcade game is a single-player version where the other “snakes” are AI controlled.
2. In the second variant, a sole player attempts to eat items by running into them with the head of the snake. Each item eaten makes the snake longer, so avoiding collision with the snake becomes progressively more difficult. Examples: Nibbler, Snake Byte.



		
		<p align="center">TRIVIA:<br>-It’s popularity grew throughout the 80’s when it made it’s way onto early Texas Instruments calculators, and home computers such as the Apple II, the Commodore 64 and the BBC Micro.
<br>-The maximum possible points on level one is 312 and on level 9 is 2008. The points formula is: bits on screen (212) X level (1 through to 9) + 100 bonus points for completing the level.
<br>-In 2005, Taneli Armanto, received a special award from the Mobile Entertainment Forum (MEF) for his contribution to the growth of the mobile entertainment industry.

<div style=" bottom: 0px; right: 0px; background: #000000; color: #FFFFFF; width: 100%;">
			<table align="center">
				<tr>
					<td align="left"><img src="{{url_for('static', filename='photos/LOGO.png')}}" width="50" height="50"></td>
          <td></td>
          <td></td>
          <td></td>
					<td align="center"><a href="/">MAIN PAGE</a></td>
          <td></td>
          <td></td>
          <td></td>
					<td align="center"><a href="/libraryofgames">GAME LIBRARY</a></td>
          <td></td>
          <td></td>
          <td></td>
					<td align="right"><a href="/sources">SOURCES</a></td>
				</tr>
			</table>
		</div>


	</body>
</html>
