<!DOCTYPE HTML>
<html>
	<head>
	
	
	
	</head>

	<body>
	
		<h1 align="center">Tetris</h1>
		<hr width="100%">
		
		<img src="{{url_for('static', filename='photos/zdjecietetris.png')}}" style="float:left;" width="700" height="700"/>
		<p align="center"><b>THE MOST IMPORTANT INFORMATION:</b>Release date : 1984<br>Creator : Alexey Pajitnov<br>Objective : use the pieces to create as many horizontal lines of blocks as possible. When a line is completed, it disappears, and the blocks placed above fall one rank. Player can never win.<br>
		live number : 1<br><br><br></p>
    <a href="{{url_for(filename='templates/tetris.html')}}">PLAY</a>
		
		<br clear="all">
		<p align="center">1.STORY:In 1984, Tetris was born from the imagination of computer programmer Alexey Pajitnov. Inspired by his favourite puzzle board game, Pentominos, Pajitnov created an electronic game that let players arrange puzzle pieces in real time as they fell from the top of the playing field. The resulting design was a game that used seven distinctive geometric playing pieces, each made up of four squares. Pajitnov called this game “Tetris”, a combination of “tetra” (the Greek word meaning “four”) and “tennis” (his favourite sport).
		
		<p align="center">2.GAMEPLAY:Tetris is primarily composed of a field of play in which pieces of different geometric forms, called “tetrominoes”, descend from the top of the field. During this descent, the player can move the pieces laterally and rotate them until they touch the bottom of the field or land on a piece that had been placed before it. The player can neither slow down the falling pieces nor stop them, but can accelerate them in most versions. The objective of the game is to use the pieces to create as many horizontal lines of blocks as possible. When a line is completed, it disappears, and the blocks placed above fall one rank. Completing lines grants points, and accumulating a certain number of points moves the player up a level, which increases the number of points granted per completed line.
In most versions, the speed of the falling pieces increases with each level, leaving the player with less time to think about the placement. The player can clear multiple lines at once, which can earn bonus points in some versions.  It is possible to complete up to four lines simultaneously with the use of the I-shaped tetromino. This move is called a “Tetris”, and is the basis of the game's title. If the player cannot make the blocks disappear quickly enough, the field will start to fill, and when the pieces reach the top of the field and prevent the arrival of additional pieces, the game ends. At the end of each game, the player receives a score based on the number of lines that have been completed. The game never ends with the player's victory; the player can only complete as many lines as possible before an inevitable loss.


		
		<p align="center">3.TRIVIA:<br>-Tetris is one of the top-selling video games of all time according to the Guinness World Records Gamer's Edition.
<br>-Tetris was the first video game to make it into space according to the Guinness World Records 2014 Gamer's Edition.
<br>-The Tetris theme song is an instrumental arrangement of a Russian folk tune called “Korobeiniki”. The song is so famous that it is now a registered sound mark in the U.S. and other countries.
<br>-Tetris has been referenced on numerous other popular animated television shows, including “Family Guy”, “Futurama”, “Captain N: The Game Master”, “The Simpsons” and “Muppet Babies“.
<br>-Tetris has been mentioned on many popular television shows including “The Big Bang Theory“, “Revenge”, and “The Office.”


	</body>
</html>
