<!DOCTYPE HTML>
<html>
	<head>
	<style type="text/css">
		a {color: #ffffff;}
		a:hover {color: #fff700;}
		a:visited {color: #696969}
		body {color: #ffffff;}
		body {background-color: #14131c;}
	</style>
	</head>
	
	<body>
	
		<h1 align="center">Sources:</h1>
		<hr width="100%">
		<p align="left"><a href="https://en.wikipedia.org/wiki/Pac-Man">https://en.wikipedia.org/wiki/Pac-Man</a></p>
		<br>
		<p align="left"><a href="https://en.wikipedia.org/wiki/Snake_(video_game_genre)">https://en.wikipedia.org/wiki/Snake_(video_game_genre)</a>
		<br>
		<p align="left"><a href="https://www.itsnicethat.com/features/taneli-armanto-the-history-of-snake-design-legacies-230221">https://www.itsnicethat.com/features/taneli-armanto-the-history-of-snake-design-legacies-230221</a></p>
		<br>
		<p align="left"><a href="https://blogs.windows.com/devices/2012/02/02/snake-charmed-10-fascinating-facts-about-the-worlds-most-popular-game/">https://blogs.windows.com/devices/2012/02/02/snake-charmed-10-fascinating-facts-about-the-worlds-most-popular-game/</a></p>
		<br>
		<p align="left"><a href="https://en.wikipedia.org/wiki/Tetris">https://en.wikipedia.org/wiki/Tetris</a></p>
		<br>
		<p align="left"><a href="https://tetris.com/about-us">https://tetris.com/about-us</a></p>
		<br>
		<p align="left"><a href="https://tetris.com/fun-facts">https://tetris.com/fun-facts</a></p>

<div style=" bottom: 0px; right: 0px; background: #000000; color: #FFFFFF; width: 100%;">
			<table align="center">
				<tr>
					<td align="left"><img src="{{url_for('static', filename='photos/LOGO.png')}}"></td>
          <td></td>
          <td></td>
          <td></td>
					<td align="center"><a href="/">MAIN PAGE</a></td>
          <td></td>
          <td></td>
          <td></td>
					<td align="center"><a href="/libraryofgames">GAME LIBRARY</a></td>
          <td></td>
          <td></td>
          <td></td>
					<td align="right"><a href="/sources">SOURCES</a></td>
				</tr>
			</table>
		</div>
    
	</body>
</html>