<!DOCTYPE HTML>
<html>
	<head>
	
	</head>
	
	<body>
	
		<h1 align="center">Sources:</h1>
		<hr width="100%">
		<p align="left"><a href="https://en.wikipedia.org/wiki/Pac-Man">https://en.wikipedia.org/wiki/Pac-Man</a></p>
		<br>
		<p align="center"><a href="https://en.wikipedia.org/wiki/Snake_(video_game_genre)">https://en.wikipedia.org/wiki/Snake_(video_game_genre)</a>
		<br>
		<p align="center"><a href="https://www.itsnicethat.com/features/taneli-armanto-the-history-of-snake-design-legacies-230221">https://www.itsnicethat.com/features/taneli-armanto-the-history-of-snake-design-legacies-230221</a></p>
		<br>
		<p align="center"><a href="https://blogs.windows.com/devices/2012/02/02/snake-charmed-10-fascinating-facts-about-the-worlds-most-popular-game/">https://blogs.windows.com/devices/2012/02/02/snake-charmed-10-fascinating-facts-about-the-worlds-most-popular-game/</a></p>
		<br>
		<p align="center"><a href="https://en.wikipedia.org/wiki/Tetris">https://en.wikipedia.org/wiki/Tetris</a></p>
		<br>
		<p align="center"><a href="https://tetris.com/about-us">https://tetris.com/about-us</a></p>
		<br>
		<p align="center"><a href="https://tetris.com/fun-facts">https://tetris.com/fun-facts</a></p>
		
	</body>
</html>